.App{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.selected {
    background: red !important;
}

.options {
    padding: 8px;
    border: 3px solid #000;
    cursor: pointer;
    width:100%;
    background-color:orange;
    color: blueviolet;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

ul li {
    margin: 10px;
}

body{
    background:url(avengers.jpg);
    display: flex;
    justify-content: center;    
    color:white;
    font-family: 'Segoe UI',;
    font-size: 18px;

 }